@font-face {
    font-family: 'Syne';
    src: url('../fonts/Syne/Syne-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

/* General  */
html {
    font-size: 16px;
}

a {
    cursor: pointer;
}

a:hover {
    color: orange;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Syne';
}

h1 {
    font-size: 6rem;
    margin-bottom: 5rem;
    font-weight: 700;
    line-height: 1.1;
}

h2 {
    font-size: 4rem;
    margin-bottom: 4rem;
    line-height: 1.2;
    font-weight: 600;
}

h3 {
    font-size: 3rem;
    margin-bottom: 3rem;
    line-height: 1.3;
    font-weight: 600;
}

h3.article-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.125rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    color: #444;
}

body {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #222;
}

.padding-global {
    padding: 0 1rem;
    margin: 0 auto;
}

.line {
    height: 1px;
    width: 100%;
    background-color: black;
    display: inline-block;
    vertical-align: middle;
}

button {
    font-family: 'Nunito';
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: transparent;
    padding-left: 0;
    cursor: pointer;
    transition: all 150ms ease;
    text-wrap: nowrap;
}

button:hover {
    text-decoration: underline;
    color: orange;
}

button > img {
    height: 16px;
    margin-left: 8px;
    transition: all 300ms ease;
}

button:hover > img {
    height: 16px;
    transform: translateX(8px);
}

.container-large {
    max-width: 1400px;
    margin: 0 auto;
}

.spacer-s {
    padding-bottom: 2rem;
}

.width-medium {
    width: 50ch;
}

.vertical-padding{
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.date {
    display: inline-block;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

/* Header */

header {
    
}


header a {
    text-decoration: none;
    color: black;
    transition: color 100ms ease-out;
}


header .mobile {
    display: none;
}


header .hamburger {
    display: none;
}


header .logo {
    height: 40px;
}


header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}


header ul li {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-weight: 600;
}



/* Hero */

#main-image {
    width: 100%;
    max-width: 700px;
    float: right;
} 

#hero .two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

/* Blogs */

.articles {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4rem;
    column-gap: 4rem;
}

.article .wrapper {
    overflow: hidden;
    height: 400px;
    margin-bottom: 1rem;
}

.article .thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 300ms ease;
    opacity: 0.9;
}

a.article {
    color: inherit;
}

a.article:hover button {
    color: orange;
}

a.article:hover .thumbnail {
    transform: scale(1.1, 1.1);
    opacity: 1;
}

a.article:hover button > img {
    transform: translateX(8px);
}

#h2-container {
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
}

#h2-container h2 {
    margin: 0;
}

#categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.category+.category {
    margin-left: 1rem;
}

.category {
    padding: 1rem 1.5rem;
    border: 2px solid #222;
    border-radius: 3rem;
    cursor: pointer;
}

.inverted {
    background-color: #222;
    color: white;
}


/* Newsletter */

section#newsletter {
    background-color: black;
    background-image: url('../images/Pattern.webp');
    color: white;
}

#newletter h2 {

}

#newsletter .inverted {
    background-color: white;
    color: black;
}

#newsletter p {
    color: #ddd;
}

#newsletter button {
    color: white;
}